a:hover
    {
        color: orange;
    }

.new_header_index

    {
        color: green;
    }
.new_header_index:hover 
    {
        color: tomato;
    }

.hover_manual
    {
        color: tomato;
    }

.top_division {
        text-align: center;
        background-image: url('../background_4.jpg');
        
        background-repeat: no-repeat;
        background-size:cover;        
        height: 750px;
        width:100%;
        
        margin: 0px;
        padding-top: 100px;
    }


.h1_div1 {
        color: white;
        font-size: 1.5in;
        font-family: 'Sacramento', cursive;
        padding-top: 80px;
             
    }

@media (max-width:400px) {
    .top_division {
        text-align: center;
        background-color: black;
        background-repeat: no-repeat;
        background-size:cover;        
        height: 750px;
        width:100%;
        
        margin: 0px;
        padding-top: 100px;
    }
    
    .h1_div1
    {
        font-size: 0.8in;
    }
    
    .p_div1
        {
            font-size: 0.4in;
        }


    .changeing_media
        {
            font-size: 0.5cm;
        }
}

.p_div1 {
        color: white;
        font-size: 0.7in;
        font-family: 'Sacramento', cursive;
        
        
    }


.btn{
        text-decoration: none;
        color: White;
        padding: 15px;
        font:bold;
        font-size: 0.3in;
    }

.btn_contact 
    {
        text-decoration: none;
        color: white;
        position: absolute;
        right:10%;
        font-size: 0.3in;
        
    }

/********************************************************************************************/

.middle_division
    {
        background-color: rgb(245, 218, 218);
        height: 600px;
        

        margin: 0px;
        padding: 0px;
        border: 0px;
        
        
    }

.h1_div2 
    {
        color: black;
        font-size: 0.6in;
        text-align: initial;
        position: relative;    
        left: 15%;
        top:40%;
              
    }

.p_div2
    {
        width: 1000px;
        color: black;
        font-size: 0.3in;
        text-align: initial;     
        position: relative;
        left:15%;
        top:40%;

    }

.soft 
    {
        height: 400px;
        width: 400px;
        
        padding-top: 10%;
        position: relative;
        float:left;
        
    }

    /**********************************************************************************************************/

.div_3
    {
        height: 500px;
        background-color: black;
    }

.h1_div_3
    {
        padding-right: 15px;
        color: whitesmoke;
        font-size: 0.5in;
    }

.Contact_button
    {
        color: orange;
        font-size: 0.2in;
        width: 3.5in;
        height: 0.6in;
        border: solid;
        border-color: orange;
        border-radius: 2mm;
        background-color: black;
    
    }

.div3_1
    {
        display: inline-block;
        width:300px;
        padding-right: 1in;
        padding-left: 1in;
    }


.div3_2
{
    display: inline-block;
    width:300px;
    padding-right: 1in;
    padding-left: 1in;
}


.div3_3
{
    display: inline-block;
    width:300px;
    padding-right: 1in;
    padding-left: 1in;
}

.div3_h3
    {
        font-size: 0.2in;
        color: orange;
        text-transform: uppercase;

    }

.div3_p
    {
        font-size: 0.5cm;
        line-height: 0.7cm;
        color: whitesmoke;
    }

button:hover 
    {
        color: black;
        background-color: rgba(255, 166, 0, 0.712);
    }

    /**********************************************************************************************************************/

.bottom_division
    {
        background-color:lightskyblue;
    }

.img_icon
    {
        height: 30px;
    }

hr  
    {
        border: dotted;
        border-radius: 2mm;
        border-width: 1mm;
    }
span
    {
        color: rgb(255, 38, 0);
        font-size: 5mm;
    }

.btn_manual:hover
    {
        background-color: tomato;
        color: black;
    }





/*****************************************************************************************/

.testing_media_querry
    {
        font-size: 1cm;
        
    }
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################



/*                                      CODE SHOP PAGE BELOW                                    */




/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################
/*#################################################################################################################################################*/

.common_allgn_h1
    {
        text-align: left;
        font-size: 0.6;
    }

.common_allign
    {
        color: whitesmoke;
        font-size: 0.8cm;
    }

.common_allign:hover
    {
        color: tomato;
        
    }



/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

/*                                             Contact ADMIN BELOW                                              */

/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

.changeing_media
    {
        font-size: 0.8cm;
        
    }

    /******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

/*                                             ENTERTAINMENT BELOW                                              */

/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/



