.main_heading
{
    font-size: 1.5cm;
    text-align: center;
    font-weight:3cm ;
    font-family: 'Sacramento', cursive;
    color: rgb(10, 14, 224);
}
.dice
{
    background-image: url("../images/background_image_dice_roll.jpg");
    background-repeat: no-repeat;
    background-size: cover;        
    
    display: inline;
    font-size: 1cm;
    
}
